.Bookshelf {
    text-align: center;
    padding: 20px;
  }
  
  .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    height: 250px;
    width: 200px;
    text-align: left;
  }

  .book-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  